[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

hug = "*"
nexmo = "*"
celery = "*"
tinydb = "*"
watson-developer-cloud = "==1.0.2"
tornado = "*"


[dev-packages]

pylint = "*"
"flake8" = "*"
black = "*"
